.footer {
  background-color: #3A454D;
  padding: 40px 20px;
  margin-top: 100px;
}

.footer-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.footer-icon-links {
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 100px;
}

.footer-icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  width: 90px;
  transition: transform 0.2s ease, filter 0.2s ease;
}

.footer-icon-item img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.footer-icon-id {
  font-family: 'Orbitron', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.footer-icon-item:hover {
  transform: translateY(-4px);
  filter: brightness(1.05);
}

.copyright {
  font-size: 15px;
  color: #fff;
  letter-spacing: 1px;
}

@media screen and (max-width: 768px) {
    .footer-icon-links {
        gap: 20px !important;
        grid-template-columns: repeat(2, 1fr) !important;
        max-width: 650px !important;
        margin: 0 auto !important;
    }

    .footer-icon-id {
        font-size: 1rem !important;
    }
  
    .footer-icon-item {
        width: 100% !important;
    }
}