.page-title {
    margin-top: 20px;
    padding-left: 40px;
    background-color: #118ACB;
    color: #fff;
}

.title-en {
    font-family: "Orbitron", sans-serif;
    font-style: bold;
    font-size: 2.5rem;
    margin: 0;
}

.title-jp {
    font-family: "M PLUS U", sans-serif;
    font-size: 1.5rem;
    margin: 0;
}

.characters-list {
    padding: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
}

.item {
    border-radius: 40px 10px 20px 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(5px);
}

.item img {
    border-radius: 40px 10px 0 0;
    max-width: 100%;
    height: auto;
}

.item p {
    padding: 0 0 10px 10px;
}

.item:hover {
    transform: translateY(-10px);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.25);

    transition: transform 0.3s, box-shadow 0.3s;
}

.ja-name {
    font-size: 2.5rem;
    font-family: "M PLUS U", sans-serif;
}

.en-name {
    font-size: 1.5rem;
    font-family: "Orbitron", sans-serif;
}

@media screen and (max-width: 1080px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr !important;
    }

    .ja-name {
        font-size: 2rem !important;
    }

    .en-name {
        font-size: 1.5rem !important;
    }
}